flask
flask-cors
langchain
langchain-community
langchain-groq
langchain-huggingface
pymongo
sentence-transformers
unstructured
python-magic
pdf2image
unstructured[pdf]
python-dotenv
huggingface-hub
python-multipart
gunicorn
uvicorn
PyOpenGL
PyOpenGL-accelerate
SpeechRecognition
pandas
beautifulsoup4
requests
groq
scikit-learn
numpy
